@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* STYLING FOR ALL PAGES */
/* Body styling for all pages */
body {
    margin: 0% auto;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Montserrat', sans-serif;
}

/* header styling */
.quiz-header {
    text-align: center;
    font-size: 300%;
    color: black;
    margin: auto;
    font-weight: lighter;
    padding-bottom: 10px;

}

#quiz-header:hover {
    color: white;
    font-size: 350%;
}

/* Main div styling for all pages */
.main-container {
    margin: 5% auto;
    background-color: rgb(186, 179, 236);
    width: 90%;
    max-width: 1000px;
    height: fit-content;
    min-height: 500px;
    border-radius: 10px;
}

/* used for all buttons (apart from the list of answers) across all pages, */
.user-btn:not([hidden]) {
    display: block;
    margin: 0 auto;
    border: solid white 2px;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    margin-top: 10px;
    color: black;
}

.user-btn:hover {
    cursor: pointer;
}

/* anchors across all pages */
a {
    text-decoration: none;
    color: black;
}

/* INDEX PAGE STYLING */

/* styling to show username inputted by the player, then shown below main header */
#name {
    color: #ff721e;
    font-size: 80%;
    font-weight: 600;
}

/* Div holding instructions on index page and div container on 404 page*/
#instructions-container,
#container {
    border: solid white 2px;
    height: fit-content;
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.7);
}

/* text content inside the instructions div*/
.instructions {
    padding: 5px;
}

/* Div holding form input options */
#form-container {
    margin: 10px;
}

/* username input */
#username {
    background-color: rgba(245, 245, 245, 0.7);
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 50px;
    border: solid white 2px;
    border-radius: 10px;
}

#username:hover {
    border: outset rgba(245, 245, 245, 0.7) 10px;
}

#label {
    margin: 0 5%;
    font-weight: 500;
}
/* START button shown only once form has been submitted */
#start-quiz {
    display: none;
    margin: 0 auto;
    border: solid white 2px;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    color: black;
    text-align: center;
    padding: 28px 10px 10px;
    font-weight: 600;
    background-color: rgba(245, 245, 245, 0.7);
}

#start-quiz:hover {
    cursor: pointer;
}

/* QUIZ PAGE STYLING */
/* timer */
#timer {
    color: black;
    font-size: 35px;
    margin-top: 5px;
    height: 150px;
    width: 150px;
    padding: 10px;
    background-color: rgb(220, 128, 180);
    border: dotted black 8px;
    border-radius: 50%;
}

/* Div holding question */
#question-area {
    background-color: white;
    width: 85%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

/* displayed question */
#question-header {
    padding: 10px 4px 4px 4px;
    text-align: left;
}

/* Div holding all answer buttons */
#answer-area {
    padding: 0 2.5% 0 6%;
    margin: 40px auto 0;
}

/* buttons each holding an answer (shown only once question is listed) */
.btn-answer {
    width: 95%;
    height: 50px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    text-align: justify;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

/* answer button hover styling only for when in active state*/
.btn-answer:hover:not([disabled]) {
    border: outset rgba(245, 245, 245, 0.7) 10px;
}

/* answer button when in disabled state */
.btn-answer:disabled {
    cursor: none;
}

/* class styling to show answer selected by user was correct */
.correct-answer {
    background-color: #9aece8;
}

/* class styling to show answer selected by user was incorrect */
.incorrect-answer {
    background-color: #ff721e;
}

/* styling for main container shown only when a function to show leaderboard get's called */
#highscore-container {
    border: solid white 2px;
    height: fit-content;
    width: 50%;
    display: none;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

/* button styling, used to show leaderboard */
#leaderboard {
    text-align: center;
    background-color: rgba(245, 245, 245, 0.7);
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: 10px;
    display: none;
}

/* List items/ top ten scores shown on leaderboard */
#highscore-list li {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

/* Div holding the buttons to navigate through the quiz( next, try again */
#navigation-area {
    margin: 0;
}

/* incremented scores paragraphs */
#score-area {
    padding: 0 20% 0 23%;
    margin: 0 auto;
}

/* spans showing incremented scores count */
.answer-count {
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

/* 404 page */
/* message inside the container, container styling same as #instructions-container above*/
.message {
    padding: 10px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 680px) {
    .answer-count {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }

    /* increment incorrect score paragraph */
    #wrong-answer {
        padding-left: 10%;
    }
}

@media screen and (min-width: 930px) {
    #wrong-answer {
        padding-left: 35%;
    }
}