@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main-container {
    margin: 5% auto;
    background-color: rgb(186, 179, 236);
    width: 90%;
    max-width: 1000px;
    height: fit-content;
    min-height: 500px;
    border-radius: 10px;
}
#welcome-header {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: dashed white 2px ;
}

#name {
    color: white ;
}
#instructions-container{
    border: solid white 2px;
    height: fit-content;
    width: 90%;
    display:block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.7);

}
.instructions {
    padding: 5px;
}


#form-container {
    margin: 10px;
}

 #username{
    background-color: rgba(245, 245, 245, 0.7);
    display: block;
    margin: 0 auto;
    width: 90%;
    height:50px;
    border: solid white 2px;
    border-radius: 10px;
 }
 #start-quiz {
    display: none;
 }



 .user-btn:not([hidden]) {
    display: block;
    margin: 0 auto;
    border: solid white 2px;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    margin-top: 10px;
    color:black;
    
 }
 .user-btn a {
    text-decoration: none;
    color: black;
   
 }

#timer {
    color: black;
    font-size: 35px;
    margin-top: 5px;
    height: 150px;
    width: 150px;
    padding: 10px;
    background-color: rgb(220, 128, 180);
    border: dotted black 8px;
    border-radius: 50%;

}

a>h1 {
    text-align: center;
    font-size: 300%;
    color: black;
    margin: auto;
    font-weight: lighter;

}

a {
    text-decoration: none;
}

#icon {
    display: none;
}

body {
    margin: 0% auto;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Montserrat', sans-serif;
}
/*#main-game-area {
    background-color:  rgb(186, 179, 236);
    width: 90%;
    height: 40%;
    margin: 0 auto;
    border-radius: 10px;
}*/

#question-area {
    background-color: white;
    width: 85%;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: 10px;
}
#question-header {
    padding-top: 10px;
}
#question {
    text-align: justify;
    padding: 4px;
}

#answer-area {
    padding: 0 2.5% 0 6%;
    margin: 40px auto 0;
}

.btn-answer {
    width: 95%;
    height: 50px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    text-align: justify;
    cursor: pointer;
}
.btn-answer:hover:not([disabled]){
    border: outset rgba(245, 245, 245, 0.7) 10px;

}
.btn-answer:disabled{
    cursor: none;
}

.correct-answer {
    background-color: #9aece8;
}
.incorrect-answer {
    background-color: #ff721e;
}

#navigation-area {
    margin: none;
}


#score-area {
    padding: 0 20% 0 20%;
    margin: 0 auto;
}

#score-area p {
    display: inline-block;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 5px 0 25px;

}

#score-area p~p {
    padding-left: 10%;
}

@media screen and (min-width: 410px) {
    #icon {
        display: inline;
    }
}
